* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#createProject {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px; 
}

#createProject input{
  margin-left: 10px;
  margin-right: 10px;
}

.bio-sec{
  width: 280px;
}

.img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 180px;
  /* padding-right: 180px; */
  border-radius: 15px;
}

form input {
  justify-content: space-between;
  border-radius: 5px;
  /* width: 85px; */
  height: 35px;
  margin-bottom: 40px;
}

button {
  border-radius: 5px;
  width: 75px;
  height: 40px;
 background-color: black;
 color: white;

}

.description {
  width: 170px;
}

.image-input {
  width: 150px;
}

.title-input {
  width: 90px;
}

.create-title {
  width: 90px;
}

.create-description {
  width: 210px;
}

.create-image {
  width: 400px;
  height: 300px;
}

#input {
  margin: 10px;
}

#sign-in {
  display: flex;
  flex-direction: column;
  width: 290px;
}

#log-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign {
  margin-bottom: 400px;
  margin-top: 39px;
  margin-left: 70px;
}

#sign-up {
  display: flex;
  flex-direction: column;
  width: 290px;
  background-color: #282c34;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-area{
  margin-left: 70%;
  display: flex;
  flex-direction: row;
  
}

.username{
  font-size: 35px;
  margin-bottom: 10px;
  position: relative;
  top: -20px;
}

.bio{
 padding: 5px;
 border: 2px  solid black;
 position: relative;
  top: -15px;
  border-radius: 7px;
}

.user-text{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  flex-wrap: wrap;
}

.create-btn{
  margin-left: 40%;
  padding-bottom: 90px;
  position: relative;
  top: -40px;
}

.create-btn:hover{
  color: red;
}

img{
  width: 500px;
  height: 400px;
}

#delete-btn{
  margin-right: 200px;
}

.display-items{
  margin-top: 50px;
  text-align: center;

}

*{
  background-color: bisque;
}

button:hover{
  background-color: white;
  color: black;
}