* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#createProject{
  border-radius: 20px;
  
}

.img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 180px;
  /* padding-right: 180px; */
}

form input {
  justify-content: space-between;
  border-radius: 5px;
  /* width: 85px; */
  height: 35px;
}

button{
  border-radius: 5px;
  width: 75px;
  height: 40px;
}

.description{
  width: 170px;
  
}

.image-input{
  width: 150px;
}

.title-input{
  width: 90px;
}

.create-title{
  width: 90px;
}

.create-description{
  width: 210px;
}

.create-image{
  width: 210px;
}